# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore build or dist folders
dist/
build/

# Ignore coverage reports
coverage/
